* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &.slider1 {
            background: url(../img/Artboard1.png);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        &.slider2 {
            background: url(../img/Artboard2.png);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            left: 50%;
        }
    }
}